.material-icons {

}

.material-icons.g-apps {
    font-size: 2em;
    vertical-align: middle;
    color: gray;
    align-self: center;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#logo {
    grid-area: logo;
    height: auto;
    width: 350px;
    justify-self: center;
    margin-bottom: 25px;
}

#searchbar {
    grid-area: search;
    align-self: center;
    border-radius: 25px;
    box-shadow: 0px 0px 5px darkgray;
    padding: 5px 15px;
    width: 750px;
    height: 45px;
    display: flex;
    /* justify-content: space-between; */
    vertical-align: middle;
}

#searchbuttonbar {
    grid-area: search-buttons;
    place-self: center;
}

div a {
    flex-grow: 1;
    padding: 15px 10px;
}

.site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr 1fr;
    grid-template-areas: 
    "navbar navbar navbar"
    ". logo ."
    ". search ."
    ". search-buttons ."
    "footer footer footer";
}

#gap {
    flex-grow: 10;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: 1.5em;
    margin-left: 1em;
    grid-area: navbar;
}

.searchbuttons {
    font-size: 18px;
    padding: 10px 25px;
}

#footer {
    grid-area: footer;
    background-color: rgb(238, 236, 236);
    height: 105px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
}

#footerbar {
    display: flex;
    flex-direction: row;
}

#carbonneutraltag {
    justify-self: center;
}